Paginas:
	1. seleccionar empleado /select-employee:
		- Debe conseguir todos los empleados activos de la API.
		- Mostrar el nombre y un avatar traigo de dicebear arriba del nombre
		- Si no hay ningun empleado, mostrar el icono para crear uno nuevo.
		- Si hay usuarios deberia mostrar el icono de crear nuevo a un costado.
		- Al hacer hover en el icono de cada empleado mostrar dos botones en stack,
		  seleccionar y editar abajo mas pequeno.
		- Al hacer click en crear o editar usuario deberia abrir 
		  un modal de creacion con una animacion smooth.
		- Al crear o editar un usuario el modal se debe cerrar mostrando una notificacion correcta.
	2. Tables page:
		- Crear componente reusable para representar cada mesa, una por cada mesa disponible en /api/tables
		  el cual tendra un numero en el centro.
		- El componente de mesa estara de color verde para cada mesa disponible y rojo para cada mesa ocupada.
		- Las mesas verdes llevan a la pagina de menu donde el empleado podra anadir items.
		- Las mesas rojas hacen lo mismo ya que a una orden existente se le pueden anadir mas 
		  items pero deberia iniciar una notificacion de que es una mesa ocupada.
	3. Menu page:
		
		
